{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/foods/food_index.css' %}"
/>
{% endblock %} {% block content %}

<section class="page-header">
  <h1>food List</h1>
</section>

<section class="card-container">
  {% for food in foods %}
    <div class="card">
      <a href="{% url 'food-detail' food.id %}">
        <div class="card-content">
          <h2 class="card-title">{{ food.name }}</h2>
          {% if food.age > 0 %}
          <p>A {{ food.age }} year old {{ food.breed }}</p>
          {% else %}
          <p>A {{ food.breed }} kitten.</p>
          {% endif %}
          <p><small>{{ food.description }}</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}
