<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Collector</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'static/styles.css' %}">
</head>
<body>
    <header>
        <h1><a href="{% url 'home' %}">Food Collector</a></h1>
        <nav>
            <ul>
                <a href="{% url 'home' %}">Home</a> 
                {% if user.is_authenticated %}
                    <li><a href="{% url 'add_food' %}">Add Food</a></li>
                    <li><a href="{% url 'all_food' %}">All Food</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'signup' %}">signup</a></li>
                    <li><a href="{% url 'login' %}">login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>